/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Create some Bowfolio CSS variables. */
:root {
  --firesheep-navbar-bg: #373633;
  --firesheep-navbar-text: #e8e8e3;
  --firesheep-navbar-highlight-text: #9CBBBD;
  --firesheep-navbar-bg-rgb: 36, 36, 36;
}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--firesheep-navbar-bg);
  --bs-dark-rgb: var(--firesheep-navbar-bg-rgb);
  font-family: Roboto, serif;
  letter-spacing: 2px;
  font-weight: bold;
  --bs-body-bg: #e8e8e3 ;
}

/* Color the light Brand and links with dark color */
.bg-light span, .bg-light a {
  color:  var(--firesheep-navbar-bg);
}

/* When logged in we switch the NavBar to bg-dark so we need to override the styles to give light text. */
.bg-dark span, .bg-dark a {
  color: var(--firesheep-navbar-text);
}

/* When logged in we highlight the selected route. */
.bg-dark a.nav-link.active {
  color: var(--firesheep-navbar-highlight-text);
}

/* Override the color on the dropdown when logged in. */
.bg-dark a.dropdown-item {
  color: var(--firesheep-navbar-bg);
}

/* Landing page color blocking */
.landing-green-background {
  background-color: var(--firesheep-navbar-bg);
  color: var(--firesheep-navbar-text);
  padding-top: 20px;
}

.landing-white-background {
  background-color: var(--firesheep-navbar-text);
  color: var(--firesheep-navbar-bg);
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  --bs-body-bg: white;
}

.navbar {
  box-shadow: 10px 1px 10px #2f3e46;
  font-weight: bold;
  font-size: large;
}

.header {
  background-color: #373633;
  padding: 40px ;
  border-radius: 25px;
}
.header2 {
  background-color: #908D8B;
  padding: 40px ;
  border-radius: 25px;
}

.ani {
  transition: transform 0.3s;
}
.ani:hover {
  transform: scale(1.02);
}

.btn-primary, .btn-primary:visited {
  background-color: #84a98c !important;
  border-color: #84a98c !important;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #536B60 !important;
  border-color: #536B60 !important;
}

.nav-link:hover {
  color: #84a98c;
}

table {
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

table, td, th {
  border: 1px solid #ddd !important;
  text-align: left;
}

tr:hover {
  background-color: #84a98c;
}
